@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gap: 1em;
    --index: 1vw + 1vh;
}
body{
    background: #2F56FF;
    font-family: 'Montserrat', sans-serif;
    max-height: 100%;
}
.container{
    margin: 50px 80px;
}
.menu-text{
    margin-top: -40px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.menu-text ul{
    display: flex;
    list-style: none;
}

.menu-text li{
    padding-left: 70px;
}
.menu-text a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}


.welcome-start{
    display: flex;
    justify-content: center;
}
.welcome-start, .welcome-text{
    font-size: 30px;
    margin-top: 70px;
    color: white;
    font-weight: 900;
    text-align: center;
}
.welcome-use{
    margin-top: 9px;
    font-size: 15px;
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 700;
    text-align: center;
}
.button-starts{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.start{
    border-radius: 30px;
    border: 0;
    background: #FFF;
    width: 259px;
    height: 61px;
    font-size: 20px;
    font-weight: 700;
}


.img-start, img{
    margin: 0 auto;
}
.img-start{
    border-radius: 25px;
    width: 1050px;
    height: 480px;
    background: rgba(217, 217, 217, 0.10);    
}
