@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gap: 1em;
    --index: 1vw + 1vh;
}
body{
    width: 100%;
    background: #2F56FF;
    font-family: 'Montserrat', sans-serif;
    max-height: 100%;
}
.logo{
    padding-left: 30px;
    padding-top: 30px;
}
.menu-text{
    margin-top: -40px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.menu-text ul{
    display: flex;
    list-style: none;
}

.menu-text li{
    padding-left: 70px;
}
.menu-text a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}


.welcome-start{
    display: flex;
    justify-content: center;
}
.welcome-start, .welcome-text{
    font-size: 30px;
    margin-top: 70px;
    color: white;
    font-weight: 900;
    text-align: center;
}
.welcome-use{
    margin-top: 9px;
    font-size: 15px;
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 600;
    text-align: center;
}
.button-starts{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.start{
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    border: 0;
    background: #FFF;
    width: 259px;
    height: 61px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    z-index: 1;
}

.welcome-img {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    width: 100%; 
    height: 535px; 
  }
  
  .img-end {
    width: 1564px;
    height: 885px;
    position: relative;
  }
  
  .img-start {
    width: 1050px;
    height: 480px;
    position: absolute;
    top: 50%;   
    left: 50%;  
    transform: translate(-50%, -50%); 
  }
  
.new-navbar-start-text{
    position: relative;
    display: flex;
    padding: 150px 20px;
    color: white;
}
.new-navbar{
    width: 100%;
    height: 600vh;
    background-color: #000612;
    overflow: hidden;
  }

.user-palka{
    display: flex;
}
.user-palka, .palka{
    margin-top: 20px;
}
.palka{
    height: 120px;
    border: 2px solid  #FF005C;
}
.palka, .text-use{
    display: flex;
    float: left;
    margin-left: 15px;
}
.text-use{
    margin-top: 30px;
    margin-left: 20px;
}
.main-text-use{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}
.new-img {
    position: absolute;
    left: 550px;
    display: flex;
    width: 340px;
    height: 340px;  
    border-radius: 340px;
    background: #D700FE;
    filter: blur(327.5px);
    margin-left: -250px;
    margin-top: -200px;   
}
.text-one{
    padding-left: 60px;
}
.text-two{
    padding-left: 390px;
}

.last-btn {
   display: block;
}
  
  .main-new-navbar-content{
    display: block;
    margin-top: 50px;
}
  .text-last-new-navbar{
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
  }
  .new-btn-start, .text-last-new-navbar {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-top: 10px;
  }
  .new-btn-start {
    cursor: pointer;
    width: 270px;
    height: 40px;
    margin: 0 auto;
    border-radius: 62px;
    background: rgba(255, 138, 250, 0.40);
    font-size: 15px;
    font-weight: 700;
    color: #AD00FF;
    padding: 10px 20px;
  }
 .last-text-main{
    margin-top: 30px;
 }

 .card-text{
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 600; 
    margin-top: 50px;
 }
 .card-main{
    padding: 10px 60px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.card-content-one{
    width: 520px;
    height: 630px;
    border-radius: 20px;
    background: linear-gradient(146deg, #D9D9D9 -1.82%, #8000FF -1.81%, #DB00FF 100.9%);    
}
.card-content-two{
    margin-left: 50px;
    width: 520px;
    height: 630px;
    border-radius: 20px;
    background: linear-gradient(147deg, #FF5C00 0%, #F90 138.59%);
}
.card-content-tree{
    margin-left: 50px;
    width: 520px;
    height: 630px;
    border-radius: 20px;
    background: linear-gradient(142deg, #00DF3E -1.09%, #0F6 151.99%, #0F6 152%);
}

.text-job{
    position: relative;
    font-size: 40px;
    font-weight: 900;
}
.wave-min{
    padding: 160px 60px;
    color: white;
}
.text-main-wave{
    display: flex;
}
.palka-job{
    margin-left: 10px;
    height: 100px;
    width: 1px;
    border: 2px solid  #FF005C;
}
.text-job-last{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
.light-wave-img{
    position: absolute;
    top: 2200px;
    left: -450px;
}
.img-buttom-wave{
    position: relative;
    left: -70px;
    top: -30px;
    width: 1200px;
    height: 90px;
    filter: blur(14.5px);
    background-color: #000612;
}
.img-wave{
    overflow: hidden;
    position: relative;
    left: -147px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 2000px;
    height: 705.86px;
    z-index: 10;
}

.wave-last-content{
    display: block;
    margin-top: -100px

}
.last-wave-btn{
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 62px;
    background: rgba(168, 125, 255, 0.40);
    font-size: 15px;
    font-weight: 700;
    color: #7F3FFF;
    padding: 10px 20px;
} 
.last-wave-text{
    font-size: 40px;
    font-weight: 900;
    color: #FFF;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.last-navbar{
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 1790px;
    height: 150vh;
    background-color: #000000;
}
.last-btn-main{
    padding: 170px 106px;
}
.last-navbar-btn{
    padding: 10px 20px;
    color: #5142FF;    
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    width: 300px;
    height: 40px;
    border-radius: 62px;
    background: rgba(139, 137, 255, 0.40);
}
.text-last-navbar{
    margin-top: 20px;
    display: flex;
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 135.4%; 
    text-transform: capitalize;
}
.last-article-one{
    margin-top: 50px;
    padding-left: 30px;
    justify-content: start;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    width: 612px;
    height: 100px;
    background-color: #5142FF;
    border-radius: 20px;
    color: white;
}
.last-article-two{
    margin-top: 20px;
    padding-left: 30px;
    justify-content: start;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    width: 612px;
    height: 100px;
    background-color: #FF005C;
    border-radius: 20px;
    color: white;
}
.last-article-tree{
    margin-top: 20px;
    padding-left: 30px;
    justify-content: start;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    width: 612px;
    height: 100px;
    background-color: #0094FF;
    border-radius: 20px;
    color: white;
}
.last-article-four{
    margin-top: 20px;
    padding-left: 30px;
    justify-content: start;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    width: 612px;
    height: 100px;
    background-color: #DB00FF;
    border-radius: 20px;
    color: white;
}
.last-img{
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    width: 100%; 
    position: relative;
    top: -600px;
    left: 50%;
    right: 50%;
}

.last-content-main{
    margin: 0 auto;
    padding: 120px 50px;
}
.last-content-nav{
    border-radius: 20px;
    border: 1px solid rgb(196, 183, 183);
    width: 1790px;
    height: 80vh;
    background-color: #000000;
}
.watch-strem{
    position: relative;
    top: -750px;
    left: 80px;
    display: flex;
    border-radius: 15px;
    width: 711px;
    height: 420px;
    background-color: white;
}
.watch-strem-img{
    position: relative;
    top: -80px;
    right: 70px;
    width: 1020px;
    height: 930px;
}
.last-content-text-main{
    color: white;
    display: block;
    margin-left: 1000px;
    margin-top: -500px;
}
.last-content-text{
    color: #FFF;
    font-size: 30px;
    font-weight: 800;
}
.last-content-text-two{
    color: #929292;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}
.last-content-text-btn{
    margin-top: 20px;
    padding: 20px 10px;
    text-align: center;
    width: 210px;
    height: 70px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background: linear-gradient(96deg, #4157FD 0%, #008EFF 100%);
}
.info-main{
    display: block;
    margin-top: 400px;
    margin-left: 60px;
}
.info-text{
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(91deg, #FFF 0.64%, rgba(211, 443, 3, 0) 180.04%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.info-text-two{
    margin-top: 10px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}
.info-content-main{
    display: flex;
    margin-left: -20px;
    margin-top: 25px;
}
.info-content{
    border-radius: 20px;
    margin-left: 20px;
    width: 80px;
    height: 75px;
    background-color: #D9D9D933;
}

  @media screen and (max-width: 1560px) and (min-width: 1250px) {
    .img-start{
        width: 850px;
        height: 400px;
    }
    .img-end{
        width: 1300px;
        height: 850px;
    }
    .palka, .text-use{
        display: flex;
        float: left;
        margin-left: 15px;
    }
    .img-wave{
        margin-left: 90px;
        width: 1350px;
        display: flex;
        justify-content: center;
    }
  } 
  @media screen and (max-width: 1250px) and (min-width: 656px) {
    .img-start{
        width: 550px;
        height: 400px;
    }
    .img-end{
        width: 800px;
        height: 750px;
    }
    .new-navbar-start-text{
        display: block;
    }
    .text-two{
        padding-left: 0;
    }
    .text-one{
        padding-left: 0;
    }
    .img-wave{
        width: 50px;
        display: flex;
        justify-content: center;
    }
  } 
  @media screen and (max-width: 656px) and (min-width: 300px) {
    .img-start{
        width: 450px;
        height: 300px;
    }
    .img-end{
        width: 634px;
        height: 650px;
    }
    .new-navbar-start-text{
        display: block;
    }
    .text-two{
        margin-top: 30px;
        padding-left: 0;
    }
    .text-one{
        padding-left: 0;
    }
  } 
